<?xml version="1.0" encoding="UTF-8"?>
<config>
	<database>imgame</database>
	<port>8888</port>
	<databasetable>price_info</databasetable>
	<databaseip>192.168.1.117</databaseip>
	<databaseusername>imguser</databaseusername>
	<databasepassword>uestc</databasepassword>
	<logpath>"src/xmlfile/history.xml"</logpath>
</config>